body {
    font-family: sans-serif;
    text-align: center;
    background-color: lightgray;
    }

    img {
    margin-top: 20px;
    height: 300px;
    border-radius: 5%;
}

.main {
    background-color: #fff;
    max-width: 350px;
    margin: auto;
    margin-top: 10%;
    border-radius: 5%;
}

h1 {
    font-size: 1.3rem;
    font-weight: 700;
    padding: 10px 20px;
}

p {
    font-size: 1rem;
    padding: 0 20px 30px 20px;
    margin: 0 20px 30px 20px;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: black;
}
a:hover {
    color: rgb(9, 9, 199);
}
footer {
    margin-top: 50px;
    padding: 8px;
}
